## Environment

NODE_ENV=development

## Server

PORT=3000
HOST=localhost

## CORS

URL_CORS=http://localhost:4200

# JWT

# You can generate the secret with require('crypto').randomBytes(64).toString('hex')

JWT_SECRET=063rz9efa918f849fd515fd2b561d1be4f6437f228504da7b7e6151461ec39ym04f9dbe1899ae90db40c23d8aa7432e80c6227f9ba0a815612d2307f7b0f6f0ckl
JWT_REFRESH_SECRET=069rz5efa918f849fd515fd2b561d1be4f6437f228504da7b7e6151461ec39ym04f9dbe1899ae90db40c23d8aa7432e80c6227f9ba0a815612d2307f7b0f6f0ckl
JWT_TIMEOUT=2h

# This was inserted by `prisma init`:

# Environment variables declared in this file are automatically made available to Prisma.

# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server and MongoDB (Preview).

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./dev.db"
